ul{text-align: center;
  list-style-position: inside;
}
body{text-align: center;
background-color:beige;
 border:1px solid beige;
		width:90%;
	  margin-left: auto;
  margin-right: auto;
  
     }

  h1{
	  font-size:80PX;
font-family:David;
color:brwon;
border:1px solid beige;
		width:100%;
		text-align: center
	}
	
	P{font-size:18px; font-family:david; 
	
		
	}	
	ul{font-size:20px; font-family:david;float:right }
	
	#red { color:black; family-font:ariel}
	
	.pink{border:5px dashed white;
		width:90%;
			  margin-left: auto;
  margin-right: auto;
  padding:15px
	}
	
	
	#big{ border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  width: 330px;
  height:320px;
	}
	
#small {border: 1px solid #ddd;
  border-radius:2px;
   width:40px;
   height:40px
 
}	
	
#yellow {font-size:30px; font-family:david;float:right
	
}
#lil{ border: 1px solid #ddd;
  border-radius:2px;
   width:500x;
   height:450px;
   border-radius: 30px;
}
#brown{border: 1px solid #ddd;
  border-radius:2px;
   width:77x;
   height:150px;
   border-radius: 30px;
	
}
	
	
	
